<div class="form">
  <%= form_with(model: [@proposal, @comment], local: true) do |form| %>
    <% if @comment.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.text_area :body, class: 'form-control' %>
      <small class="form-text text-muted">10 characters minimum</small>
    </div>
    <p>
      <%= form.submit class: 'btn btn-primary' %>
    </p>
  <% end %>
</div>
