<%= form_with(model: [@proposal, @proposal.comments.build], local: true) do |form| %>
  <p>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
