<% provide(:title, 'About') %>

<ul>
  <li><a href="#what">What is the call for proposal?</a> </li>
  <li><a href="#how">How does it work?</a> </li>
  <li><a href="#schedule">CfP Schedule</a> </li>
  <li><a href="#uikonf">UIKonf</a> </li>
</ul>

<section id="what">
  <h2>
    What is the call for proposal?
  </h2>
  <p>
    The <a href="/cfp">CfP</a> (Call for Proposal) is a tool to help us &mdash; the community &mdash; generate and
    curate the talks at UIKonf.
  </p>
  <p>
    The idea is simple: you propose a talk and others will help you refine it by making <em>suggestions</em>. You keep
    updating your proposal bearing those suggestions in mind.
  </p>
  <p>
    If your proposal is selected at the end of the voting process, your travel expenses will be reimbursed and you will
    be our guests at our selected hotel in Berlin. Of course, we will also reimburse you your ticket if you have already
    purchased one.
  </p>
  <p>
    Everything happens anonymously to focus on the content and not on the author. Remember that our
    <a href="https://uikonf.com/coc/">Code of Conduct</a> applies to proposals and comments as well. Be nice.
  </p>
</section>

<section id="how">
  <h2>
    How does it work?
  </h2>
  <ul>
    <li><a href="#proposal">Writing a proposal</a></li>
    <li><a href="#suggestion">Feedback on proposals</a></li>
    <li><a href="#selection">Selection of proposals</a></li>
  </ul>

  <article id="proposal">
    <h3>
      Writing a proposal
    </h3>
    <p>
      UIKonf is nothing without your talk proposals. We think that everyone has something interesting to talk about, so
      please think about that fun, unusual, difficult, or surprising thing you've done and submit a talk to UIKonf so we
      can all hear about it.
    </p>
    <section>
      <h4>
        What can I talk about?
      </h4>
      <p>
        We are looking for speakers on a wide variety of topics related to iOS development, including but not limited
        to:
      </p>
      <ul>
        <li>Swift</li>
        <li>UIKit</li>
        <li>Core Data</li>
        <li>Graphics &amp; Animation</li>
        <li>Performance</li>
        <li>Audio &amp; Video</li>
        <li>Objective-C</li>
        <li>Xcode and related tools</li>
        <li>Testing</li>
        <li>Security</li>
        <li>User Experience</li>
        <li>Open Source</li>
      </ul>
      <p>
        If it's relevant to your work as an iOS developer, we want to hear about it.
      </p>
    </section>
    <section>
      <h4>
        How long should my talk be?
      </h4>
      <p>
        Talks will be a maximum of 30 minutes plus an optional 10 minutes Q&amp;A, but if you have something interesting
        that can be said in less time, that's great too. We'll build the schedule around the best proposals chosen by
        the community.
      </p>
    </section>
    <section>
      <h4>
        Who will I be talking to?
      </h4>
      <p>
        Your audience will be iOS developers from all over Europe (and the world!). They'll be enthusiastic, passionate,
        and eager to hear you.
      </p>
    </section>
    <section>
      <h4>
        Why should I give a talk?
      </h4>
      <p>
        It's a great opportunity to be heard by a large slice of the iOS community, and we'll put together a
        high-quality video of your talk that you can share with everyone who couldn't get there on the day.
      </p>
    </section>
    <section>
      <h4>
        How anonymous does my proposal have to be?
      </h4>
      <p>
        Although the proposal process is anonymous, we can't prevent you from including identifying information within
        the proposal itself. Sometimes this is inevitable: if you want to give a talk about this great framework you
        built at Apple, it's not going to take too much detective work to figure our where you work. That's fine and
        there's no need to go to great lengths to conceal your identity if it makes the proposal more difficult to
        write.
      </p>
      <p>
        We just ask you to respect the spirit of the process as far as it is sensible and practical. We want talks to be
        chose because of what they're about, not because of who is giving them.
      </p>
    </section>
    <section>
      <h4>
        Do I have to go through with it if I propose something?
      </h4>
      <p>
        Of course not! No one is going to force you to give a talk just because you proposed it. You always have the
        option to withdraw your proposal if you change your mind or discover you can't make it to the conference.
      </p>
    </section>
  </article>

  <article id="suggestion">
    <h3>
      Feedback on proposals
    </h3>
    <p>
      Once a proposal is published, people will be able to leave comments on it, and the author will be able to respond.
    </p>
    <section>
      <h4>
        What do I do with suggestions on my proposal?
      </h4>
      <p>
        There are many ways to deal with suggestions. You <em>can</em> simply ignore them, but we think you'll write a
        better talk and get more out of the process if you actively engage with them. You can respond with your own
        comments (which will remain anonymous), you can tweak your proposal to accommodate them, or to explicitly rule
        them out.
      </p>
    </section>
    <section>
      <h4>
        What sort of suggestion should I make about a proposal?
      </h4>
      <p>
        Read the proposal in detail and provide feedback about how you think it could be clarified or improved. Be
        constructive and explain what needs to happen in order for the proposal to become something you're willing to
        vote for.
      </p>
      <p>
        Try to avoid simple "+1" or "Yes, sounds good" suggestions as they don't give the author anything ot work with.
        Say <em>why</em> you like the proposal; there's got to be a reason and it's possible that you've assumed they'll
        cover something that they weren't planning to.
      </p>
    </section>

  </article>

  <article id="selection">
    <h3>
      Selection of proposals
    </h3>
    <p>
      After collecting feedback and refining the proposals, we will stop accepting new comments and allow people to
      select the talks that they would like to see at the conference.
    </p>
    <section>
      <h4>
        How do talks get chosen?
      </h4>
      <p>
        Anyone who logs in to the CfP gets to select up to 8 talks. Once the votes are in, the proposals with the most
        votes get picked, we inform the authors that their proposals were chosen, and we reveal the identities of the
        speakers.
      </p>
    </section>
    <section>
      <h4>
        What happens if my talk doesn't get chosen?
      </h4>
      <p>
        Unsuccessful proposals will remain anonymous. Feel free to use the feedback from the community to rework it and
        submit it to another conference or at next year's UIKonf.
      </p>
    </section>
    <section>
      <h4>
        What happens if my talk gets chosen?
      </h4>
      <p>
        We'll be in touch to confirm that you can give the talk. It's fine if you can't, no hard feelings.
      </p>
      <p>
        We'll let you know about the travel and accommodation details via email. We also provide speaker training with a
        professional coach for all speakers on the weekend before the conference.
      </p>
    </section>
  </article>
</section>

<section id="schedule">
  <h2>
    The Schedule
  </h2>
  <p>
    <strong>
      20 Jan - 22 Feb
    </strong>
    <br>
    Submit your proposals on our CfP page or comment on an already submitted proposal. We accept any topic you deem
    interesting; may it be technical, design-focused, about building / running / failing a company or how to get a
    rocket into space using Swift. Inspire us!
  </p>
  <p>
    <strong>
      22 Feb - 1 Mar
    </strong>
    <br>
    Comment on existing proposals to help the authors improve their talks. You can help talks that you'd like to see at
    UIKonf become even better and maybe get selected.
  </p>
  <p>
    <strong>
      1 Mar - 8 Mar
    </strong>
    <br>
    A committee composed consisting of previous UIKonf speakers will do a preselection of the talks ahead of voting by
    the community.
  </p>
  <p>
    <strong>
      8 Mar - 17 Mar
    </strong>
    <br>
    The community can select the 8 talks that they would like to see at UIKonf. At the end of the voting period, we will
    inform everyone who submitted a talk to let them know if they've been selected. The selected speakers will be
    announced on Twitter in the following weeks.
  </p>
</section>

<section id="uikonf">
  <h2>
    What is UIKonf?
  </h2>
  <p>
    <a href="https://uikonf.com">UIKonf</a> is Berlin's independent conference for serious iOS developers. It takes
    place from May 17th to 20th 2020 at RADIALSYSTEM V.
  </p>
</section>
