<div class="center jumbotron">
  <h1>UIKonf Call for Proposals</h1>

  <% if logged_in? %>
    <%= link_to 'Proposals', proposals_path, class: 'btn btn-lg btn-primary' %>
  <% else %>
    <%= link_to 'Log in now!', login_path, class: 'btn btn-lg btn-primary' %>
  <% end %>
</div>
