<% provide(:title, 'Selection') %>

You can add up to 8 talks to your selection.

<% unless @selections.empty? %>
  <h1>Your selection</h1>
  <ul class="list-group">
    <%= render partial: 'selections/selection', collection: @selections %>
  </ul>
<% end %>

<h1>Proposals</h1>
<ul class="list-group">
  <%= render partial: 'selections/proposal', collection: @proposals %>
</ul>
