<% provide(:title, "#{@proposal.title}") %>

<h1>Edit proposal</h1>

<%= render 'form' %>

<div class="my-2">
  <%= link_to 'Delete Proposal', proposal_path(@proposal), method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure?'} %>
</div>
