<% provide(:title, 'Proposals') %>

<div class="d-flex align-items-center">
  <h1 class="flex-fill">Proposals</h1>
  <%= create_proposal_button %>
</div>

<div class="list-group">
  <% @proposals.each do |proposal| %>
    <%= link_to proposal.title, proposal_path(proposal), class: 'list-group-item list-group-item-action' %>
  <% end %>
</div>
