<footer class="footer mt-auto py-2">
  <div class="container d-flex">
    <div>
      The <a href="https://github.com/uikonf/cfp">CfP</a> by <a href="https://www.uikonf.com/">UIKonf</a>
    </div>
    <div class="ml-auto">
      <a href="mailto:questions@uikonf.com?subject=UIKonf CfP&body=%0D%0A%0D%0A%0D%0A---%0D%0A<%= request.original_url %>" target="_blank">Contact us</a>
    </div>
  </div>
</footer>
