<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container">
    <%= link_to 'UIKonf CfP', root_path, id: 'logo', class: 'navbar-brand' %>
    <ul class="navbar-nav navbar-auto">
      <li class="nav-item"><%= link_to 'Home', root_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to 'Log In', '#', class: 'nav-link' %></li>
    </ul>
  </div>
</nav>
